
/* Nav js style */

.nav-style { justify-content: center;}
.home-link li a {color: white !important;}
.home-link li .myactive{
    background-color: gray;
}
.about-header {justify-content: end;}

.footer-spacing{
    margin-bottom: 200px;
}
footer{
color: white;
}
  
.photo-size{
height: 200px;
}

